En este docuemnto realizamos la carga de los datos y realizamos un análisis general de los distintos años. Revisaremos que todas las columnas contengan los datos correctos, que los tipos de dato sean correctos, realizaremos un tratamiento de los valores nulos y de los duplicados. Finalmente realizaremos la unión de todos los datos.

In [1]:
# Importamos las librerías a utilizar
import pandas as pd
import numpy as np

In [2]:
# Indicamos que queremos que nos enseñe por pantalla todas las columnas de los DataFrame que vamos a cargar
pd.set_option('display.max_columns', None)

Ponemos las funciones que usaremos en el análisis

In [3]:
def info_df(df):
    """
    Función que devuelve información general sobre el DatFrame que le pasemos.


    Args:
        df (DataFrame): DataFrame con información que queramos revisar

    Returns:
        DataFrame: DataFrame con información general sobre las columnas del DataFrame que se le ha pasado a la función: tipo de datos, número de
        registros, número de valores nulos, porcentaje de los valores nulos sobre el total
    """
    info_df = pd.DataFrame()
    info_df["Tipo_dato"] = df.dtypes
    info_df["numero_registros"] = [df[elemento].value_counts().sum() for elemento in df]
    info_df["Numero_nulos"] = round(df.isnull().sum())
    info_df["%_nulos"] = round((df.isnull().sum()/df.shape[0])*100, 2)

    return info_df

# Análisis año a año del desarrollo económico de Brasil

**Datos 2013**

In [4]:
# Nos ha surgido un problema a la hora de cargar los datos debido a que los datos no están en español, sino en portugués (son datos de Brasil).
# Para arreglar este problema aplicamos el encoding `latin-1`
datos_2013 = pd.read_csv("datos/datos-2013.csv", sep = ";", encoding = "latin-1")
datos_2013. head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,"0,00","0,00","1297,13","0,00",31/12/2013,2013

In [5]:
# Nos creamos una copia del DataFrame por si acaso
copia_datos_2013 = datos_2013.copy()
copia_datos_2013.head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,"0,00","0,00","1297,13","0,00",31/12/2013,2013

Información general del DataFrame de 2013

In [7]:
# Realizamos una revisión de la información general del dataframe de los datos de 2013.
print(datos_2013.shape)
info_df(datos_2013)

(4498, 16)

                          Tipo_dato  numero_registros  Numero_nulos  %_nulos
CÓDIGO ÓRGÃO SUPERIOR         int64              4498             0      0.0
NOME ÓRGÃO SUPERIOR          object              4498             0      0.0
CÓDIGO ÓRGÃO                  int64              4498             0      0.0
NOME ÓRGÃO                   object              4498             0      0.0
CÓDIGO UNIDADE GESTORA        int64              4498             0      0.0
NOME UNIDADE GESTORA         object              4498             0      0.0
CATEGORIA ECONÔMICA          object              4498             0      0.0
ORIGEM RECEITA               object              4498             0      0.0
ESPÉCIE RECEITA              object              4498             0      0.0
DETALHAMENTO                 object              4498             0      0.0
VALOR PREVISTO ATUALIZADO    object              4498             0      0.0
VALOR LANÇADO                object              4498             0      0.0
VALOR REALIZADO              object              4498             0      0.0
PERCENTUAL REALIZADO         object              4498             0      0.0
DATA LANÇAMENTO              object              4498             0      0.0
ANO EXERCÍCIO                 int64              4498             0      0.0

In [5]:
# Nos encontramos con varias columnas que contienen datos númericos que tienen formato objeto. 

print(datos_2013["VALOR PREVISTO ATUALIZADO"].dtypes)
print(datos_2013["VALOR LANÇADO"].dtypes)
print(datos_2013["VALOR REALIZADO"].dtypes)
print(datos_2013["PERCENTUAL REALIZADO"].dtypes)

# Para poder trabajar con estas columnas vamos a necesitar cambiar el tipo de dato de las mismas.

object
object
object
object

In [6]:
# Como queremos modificar las columnas anteriores, nos creamos una lista que contenga las mismas. Para ello hacemos uso de iloc. 
columnas_2013 = datos_2013.iloc[:,10: 14].columns
columnas_2013

Index(['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO'],
      dtype='object')

In [7]:
# Para poder realizar el cambio de estas columnas del tipo de dato, anteriormente necesitaremos cambiar las comas por puntos, ya que python
# no reconoce las comas en los números, solo los puntos. Para ello aplicaremos un replace sobre cada uno de los elementos de las columnas, 
# y pediremos que nos modifique las comas por puntos.
def buscar_reemplazar(dataframe, columnas):

    """
    Función que cambia los datos numéricos de una columna de un dataframe, que están en tipo string, y contienen comas. 

    Args:
        dataframe (DataFrame): Dataframe que contiene las columnas a modificar
        columnas (lista de columnas del DataFrame): lista de columnas del DataFrame, de las cuales se quiere realizar el cambio de datos.

    Returns:
        DataFrame: dataframe con las columnas indicadas con los datos numéricos cambiados a tipo float.
    """
    for columna in columnas:
    
        dataframe[columna] = dataframe[columna].str.replace(",", ".").astype(float)

    return dataframe

In [8]:
# Aplicamos la función y revisamos que el cambio se ha realizado con éxito.
datos_2013 = buscar_reemplazar(datos_2013, columnas_2013)
datos_2013.head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,0.0,0.0,1297.13,0.0,31/12/2013,2013

In [9]:
# En las siguientes columnas tenemos información de tipo fecha pero las tenemos en tipo objeto o entero. Vamos a realizar el tipo de cambio de dato
# de la columna que tenemos en tipo objeto, ya que la de tipo entero no merece la pena realizar el cambio.
print(datos_2013["DATA LANÇAMENTO"].dtypes)
print(datos_2013["ANO EXERCÍCIO"].dtypes)

object
int64

In [10]:
datos_2013["DATA LANÇAMENTO"] = pd.to_datetime(datos_2013["DATA LANÇAMENTO"], format="%d/%m/%Y")
datos_2013.head(2)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,0.0,0.0,1297.13,0.0,2013-12-31,2013
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,0.0,0.0,26666621.42,0.0,2013-12-31,2013

In [13]:
# Comprobamos que el cambio de tipo de dato se ha realizado de forma correcta.
datos_2013["DATA LANÇAMENTO"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4498 entries, 0 to 4497
Series name: DATA LANÇAMENTO
Non-Null Count  Dtype
--------------  -----
4498 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 35.3 KB

In [15]:
# Como queremos modificar las columnas anteriores, nos creamos una lista que contenga las mismas. Para ello hacemos uso de iloc. 
columnas_2013_fecha = datos_2013.iloc[:,14]
columnas_2013_fecha

0       31/12/2013
1       31/12/2013
2       31/12/2013
3       31/12/2013
4       31/12/2013
           ...
4493    31/12/2013
4494    31/12/2013
4495    31/12/2013
4496    31/12/2013
4497    31/12/2013
Name: DATA LANÇAMENTO, Length: 4498, dtype: object

In [16]:
# Para poder realizar el cambio de dato de str a datetime nos creamos la siguiente función
def cambio_fecha(dataframe, fechas):
    """Función que recibe una lista de columnas de un DataFrame y les cambia el tipo de dato a datetime

    Args:
        dataframe (DataFrame): DataFrame
        lista_columnas (columnas del DataFrame): columnas del DataFrame pasado a la función. 

    Returns:
        DataFrame: devolverá un valor nulo (np.nan) en caso de que se encuentre con un valor nulo,
        o el valor en tipo datetime en el resto de casos. 
    """
    for fecha in fechas:
        if fecha == None:
            return np.nan
        else:
            return pd.to_datetime(fecha)

In [41]:
datos_2013 = cambio_fecha(datos_2013, columnas_2013_fecha)
datos_2013.head()

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,0.0,0.0,1297.13,0.0,2013-12-31,1970-01-01 00:00:00.000002013
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,0.0,0.0,26666621.42,0.0,2013-12-31,1970-01-01 00:00:00.000002013
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,0.0,0.0,301251.13,0.0,2013-12-31,1970-01-01 00:00:00.000002013
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA,0.0,0.0,1855.58,0.0,2013-12-31,1970-01-01 00:00:00.000002013
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES,0.0,0.0,52140.68,0.0,2013-12-31,1970-01-01 00:00:00.000002013

In [15]:
# Volvemos a revisar la información general del dataframe tras haber realizado los cambios para ver que todo ha sido realizado de forma correcta.
info_df(datos_2013)

,Tipo_dato,numero_registros,Numero_nulos,%_nulos
CÓDIGO ÓRGÃO SUPERIOR,int64,4498,0,0.0
NOME ÓRGÃO SUPERIOR,object,4498,0,0.0
CÓDIGO ÓRGÃO,int64,4498,0,0.0
NOME ÓRGÃO,object,4498,0,0.0
CÓDIGO UNIDADE GESTORA,int64,4498,0,0.0
NOME UNIDADE GESTORA,object,4498,0,0.0
CATEGORIA ECONÔMICA,object,4498,0,0.0
ORIGEM RECEITA,object,4498,0,0.0
ESPÉCIE RECEITA,object,4498,0,0.0
DETALHAMENTO,object,4498,0,0.0
VALOR PREVISTO ATUALIZADO,float64,4498,0,0.0
VALOR LANÇADO,float64,4498,0,0.0
VALOR REALIZADO,float64,4498,0,0.0
PERCENTUAL REALIZADO,float64,4498,0,0.0
DATA LANÇAMENTO,datetime64[ns],4498,0,0.0
ANO EXERCÍCIO,int64,4498,0,0.0

In [16]:
# Revisamos si existen valores duplicados en el dataframe
numero_duplicados_df_2013 = datos_2013.duplicated().sum()
numero_duplicados_df_2013

np.int64(0)

Información general sobre el dataframe de 2013:
- Todas las columnas contienen 4.498 entradas. 
- No existen entradas con valor nulo en ninguna de las columnas.
- No existen valores duplicados en el dataframe.
- Nos encontramos con los siguientes tipos de datos: object, float, int, datetime.

A continuación realizamos una revisión de los valores que nos encontramos en cada columna.

In [33]:
# Valores de la columna de `Organización superior`

print(f"Las organizaciones superiores que nos encontramos en la adminsitración de Brasil en 2013 son: \n \n { datos_2013["NOME ÓRGÃO SUPERIOR"].unique()}")

Las organizaciones superiores que nos encontramos en la adminsitración de Brasil en 2013 son:

 ['Advocacia-Geral da União' 'Controladoria-Geral da União'
 'Ministério da Agricultura, Pecuária e Abastec' 'Ministério da Cidadania'
 'Ministério da Ciência, Tecnologia, Inovações ' 'Ministério da Defesa'
 'Ministério da Economia' 'Ministério da Educação'
 'Ministério da Infraestrutura'
 'Ministério da Justiça e Segurança Pública'
 'Ministério da Mulher, Família e Direitos Huma'
 'Ministério da Pesca e Aquicultura' 'Ministério da Previdência Social'
 'Ministério da Saúde' 'Ministério das Comunicações'
 'Ministério das Mulheres, Igualdade Racial, da'
 'Ministério das Relações Exteriores' 'Ministério de Minas e Energia'
 'Ministério do Desenvolvimento Agrário'
 'Ministério do Desenvolvimento Regional' 'Ministério do Esporte'
 'Ministério do Meio Ambiente' 'Ministério do Trabalho e Emprego'
 'Ministério do Turismo' 'Presidência da República']

In [35]:
# Valores de la columna de `Nombre de organización`.

print(f"Las entidades gubernamentales específicas que nos encontramos en la adminsitración de Brasil en 2013 son: \n \n { datos_2013["NOME ÓRGÃO"].unique()}")

Las entidades gubernamentales específicas que nos encontramos en la adminsitración de Brasil en 2013 son:

 ['Advocacia-Geral da União - Unidades com vínculo direto'
 'Controladoria-Geral da União'
 'Empresa Brasileira de Pesquisa Agropecuária'
 'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto'
 'Companhia Nacional de Abastecimento' 'Serviço Florestal Brasileiro'
 'Instituto Nacional de Colonização e Reforma Agrária'
 'Fundo de Defesa da Economia Cafeeira'
 'Fundo de Terras e da Reforma Agrária'
 'Ministério da Cidadania - Unidades com vínculo direto'
 'Fundo Nacional de Assistência Social'
 'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto'
 'Conselho Nacional de Desenvolvimento Científico e Tecnológico'
 'Comissão Nacional de Energia Nuclear'
 'Fundo Nacional de Desenvolvimento Científico e Tecnológico'
 'Financiadora de Estudos e Projetos'
 'Centro Nacional de Tecnologia Eletrônica Avançada S.A.'
 'Agência Espacial Brasileira'
 'Empresa Brasileira de Correios e Telégrafos' 'Fundo Aeronáutico'
 'Fundo do Exército' 'Comando da Marinha - Fundo Naval' 'Fundo Aeroviário'
 'Comando da Marinha' 'Comando do Exército' 'Comando da Aeronáutica'
 'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil'
 'Ministério da Defesa - Unidades com vínculo direto'
 'Fundo de Desenvolvimento do Ensino Profissional Marítimo'
 'Indústria de Material Bélico do Brasil'
 'Caixa de Financiamento Imobiliário da Aeronáutica' 'Fundação Osório'
 'Ministério da Economia - Unidades com vínculo direto'
 'Instituto Nacional de Metrologia, Qualidade e Tecnologia'
 'Instituto Nacional do Seguro Social'
 'Fundação Instituto Brasileiro de Geografia e Estatística'
 'Superintendência da Zona Franca de Manaus'
 'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social'
 'Fundo de Amparo ao Trabalhador' 'Superintendência de Seguros Privados'
 'Superintendência Nacional de Previdência Complementar'
 'Instituto Nacional da Propriedade Industrial'
 'Comissão de Valores Mobiliários'
 'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho'
 'Fundação Escola Nacional de Administração Pública'
 'Fundo Constitucional do Distrito Federal'
 'Serviço Federal de Processamento de Dados'
 'Fundo de Garantia à Exportação'
 'Companhia de Entrepostos e Armazéns Gerais de São Paulo'
 'Fundo de Compensação de Variações Salariais' 'Casa da Moeda do Brasil'
 'Fundo de Estabilidade do Seguro Rural'
 'Instituto de Pesquisa Econômica Aplicada'
 'Fundo de Garantia para a Promoção da Competitividade'
 'Fundo Contingente da Extinta RFFSA-FCMP'
 'Fundo Nacional de Desenvolvimento' 'Fundo Soberano do Brasil'
 'Fundo de Apoio ao Desenvolvimento Social'
 'Instituto Federal do Rio Grande do Norte'
 'Fundação Universidade Federal do Mato Grosso'
 'Ministério da Educação - Unidades com vínculo direto'
 'Fundação Universidade Federal de São João Del-Rei'
 'Universidade Federal do Ceará' 'Instituto Federal Goiano'
 'Universidade Federal da Bahia' 'Instituto Federal do Ceará'
 'Fundação Joaquim Nabuco' 'Instituto Federal de Sergipe'
 'Instituto Federal Catarinense'
 'Universidade Tecnológica Federal do Paraná'
 'Fundação Universidade Federal do Tocantins'
 'Universidade Federal do Espírito Santo'
 'Fundação Universidade Federal do Acre'
 'Universidade Federal de Minas Gerais' 'Universidade Federal de Itajubá'
 'Universidade Federal do Rio Grande do Sul' 'Instituto Federal do Paraná'
 'Instituto Federal do Mato Grosso'
 'Universidade Federal do Rio Grande do Norte'
 'Instituto Federal de Rondônia'
 'Instituto Federal do Sudeste de Minas Gerais'
 'Fundação Universidade do Amazonas' 'Instituto Federal da Paraíba'
 'Instituto Federal do Norte de Minas Gerais'
 'Universidade Federal de Viçosa'
 'Instituto Federal do Sertão de Pernambuco'
 'Fundação Universidade Federal de Pelotas' 'Instituto Federal do Pará'
 'Universidade Federal Rural da Amazônia' 'Instituto Federal Farroupilha'
 'Instituto Federal de Pernambuco' 'Instituto Federal do Maranhão'
 'Universidade Federal da Paraíba'
 'Universidade Federal de Santa Catarina'
 'Instituto Federal do Rio de Janeiro' 'Instituto Federal de Brasília'
 'Universidade Federal de Lavras'
 'Instituto Federal do Sul de Minas Gerais' 'Instituto Federal Baiano'
 'Universidade Federal Rural de Pernambuco' 'Instituto Federal Fluminense'
 'Instituto Federal de Minas Gerais'
 'Universidade Federal Rural do Semi-Árido'
 'Instituto Federal do Tocantins'
 'Instituto Federal do Mato Grosso do Sul'
 'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior'
 'Instituto Federal do Triângulo Mineiro'
 'Universidade Federal Fluminense' 'Instituto Federal do Espírito Santo'
 'Universidade Federal dos Vales do Jequitinhonha e Mucuri'
 'Instituto Federal do Rio Grande do Sul'
 'Universidade Federal de Santa Maria' 'Fundação Universidade de Brasília'
 'Fundação Universidade Federal do Pampa' 'Instituto Federal de Alagoas'
 'Universidade Federal de Ouro Preto'
 'Universidade Federal de Campina Grande'
 'Universidade Federal do Recôncavo da Bahia'
 'Instituto Federal do Amazonas' 'Universidade Federal do Rio de Janeiro'
 'Hospital de Clínicas de Porto Alegre'
 'Fundo Nacional de Desenvolvimento da Educação'
 'Instituto Federal do Acre' 'Instituto Federal da Bahia'
 'Fundação Universidade Federal de Rondônia'
 'Instituto Federal de Educação, Ciência e Tecnologia de Goiás'
 'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca'
 'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira'
 'Fundação Universidade Federal do Piauí' 'Colégio Pedro II'
 'Centro Federal de Educação Tecnológica de Minas Gerais'
 'Universidade Federal de Alagoas' 'Universidade Federal de Goiás'
 'Universidade Federal de Alfenas' 'Instituto Federal de Roraima'
 'Instituto Federal de São Paulo' 'Fundação Universidade do Maranhão'
 'Instituto Federal de Santa Catarina' 'Universidade Federal de São Paulo'
 'Universidade Federal da Fronteira Sul'
 'Universidade Federal da Integração Latino-Americana'
 'Universidade Federal do Triângulo Mineiro'
 'Universidade Federal de Juiz de Fora'
 'Universidade Federal do Oeste do Pará'
 'Universidade da Integração Internacional da Lusofonia Afro-Brasileira'
 'Fundação Universidade Federal do ABC'
 'Fundação Universidade Federal do Vale do São Francisco'
 'Fundação Universidade Federal de São Carlos'
 'Universidade Federal do Paraná'
 'Fundação Universidade Federal da Grande Dourados'
 'Fundação Universidade Federal de Sergipe' 'Instituto Federal do Piauí'
 'Universidade Federal de Pernambuco'
 'Universidade Federal Rural do Rio de Janeiro'
 'Universidade Federal do Estado do Rio de Janeiro'
 'Instituto Federal Sul-rio-grandense' 'Universidade Federal de Roraima'
 'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre'
 'Instituto Federal do Amapá' 'Universidade Federal do Pará'
 'Fundação Universidade Federal do Amapá'
 'Universidade Federal do Rio Grande'
 'Fundação Universidade Federal de Uberlândia'
 'Empresa Brasileira de Serviços Hospitalares'
 'Fundação Universidade Federal do Mato Grosso do Sul'
 'Agência Nacional de Aviação Civil'
 'Departamento Nacional de Infraestrutura de Transportes'
 'Agência Nacional de Transportes Terrestres'
 'Departamento do Fundo da Marinha Mercante'
 'Fundo Nacional de Segurança e Educação de Trânsito'
 'Ministério da Infraestrutura - Unidades com vínculo direto'
 'Agência Nacional de Transportes Aquaviários' 'Secretaria de Portos'
 'VALEC Engenharia, Construções e Ferrovias S.A.'
 'Fundo Nacional de Aviação Civil'
 'Empresa de Planejamento e Logística S.A.' 'Secretaria de Aviação Civil'
 'Companhia Docas do Estado de São Paulo'
 'Companhia Docas do Estado da Bahia' 'Companhia Docas do Ceará'
 'Companhia Docas do Rio de Janeiro'
 'Companhia Docas do Rio Grande do Norte' 'Companhia Docas do Pará'
 'Companhia Docas do Espírito Santo'
 'Departamento de Polícia Rodoviária Federal'
 'Departamento de Polícia Federal'
 'Secretaria Nacional do Consumidor Fundo' 'Fundo Penitenciário Nacional'
 'Fundação Nacional do Índio'
 'Conselho Administrativo de Defesa Econômica'
 'Fundo Nacional de Segurança Pública'
 'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto'
 'Fundo Nacional Antidrogas'
 'Fundação Nacional do Índio - Patrimônio Indígena'
 'Secretaria Nacional de Políticas para Mulheres'
 'Ministério da Pesca e Aquicultura - Unidades com vínculo direto'
 'Ministério da Previdência Social - Unidades com vínculo direto'
 'Fundação Nacional de Saúde' 'Fundação Oswaldo Cruz'
 'Hospital Nossa Senhora da Conceição S.A.'
 'Ministério da Saúde - Unidades com vínculo direto'
 'Agência Nacional de Saúde Suplementar'
 'Agência Nacional de Vigilância Sanitária'
 'Hospital Cristo Redentor S.A.' 'Hospital Fêmina S.A.'
 'Ministério das Comunicações - Unidades com vínculo direto'
 'Empresa Brasil de Comunicação' 'Agêncial Nacional de Telecomunicações'
 'Fundo de Universalização dos Serviços de Telecomunicações'
 'Fundo para o Desenvolvimento Tecnológico das Telecomunicações'
 'Fundo Nacional do Idoso' 'Fundo Nacional para a Criança e o Adolescente'
 'Ministério das Relações Exteriores - Unidades com vínculo direto'
 'Fundação Alexandre de Gusmão' 'Indústrias Nucleares do Brasil'
 'Companhia de Pesquisa de Recursos Minerais'
 'Ministério de Minas e Energia - Unidades com vínculo direto'
 'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis'
 'Departamento Nacional de Produção Mineral'
 'Agência Nacional de Energia Elétrica' 'Empresa de Pesquisa Energética'
 'Nuclebrás Equipamentos Pesados S.A.'
 'Ministério do Desenvolvimento Agrário - Unidades com vínculo direto'
 'Empresa de Trens Urbanos de Porto Alegre'
 'Companhia Brasileira de Trens Urbanos'
 'Fundo Constitucional de Financiamento do Centro-Oeste'
 'Fundo Constitucional de Financiamento do Norte'
 'Fundo Constitucional de Financiamento do Nordeste'
 'Departamento Nacional de Obras Contra as Secas'
 'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba'
 'Ministério do Desenvolvimento Regional - Unidades com vínculo direto'
 'Superintendência do Desenvolvimento da Amazônia'
 'Fundo de Desenvolvimento da Amazônia'
 'Fundo Nacional de Habitação de Interesse Social'
 'Superintendência do Desenvolvimento do Nordeste'
 'Agência Nacional de Águas' 'Agência de Desenvolvimento da Amazônia'
 'Superintendência de Desenvolvimento do Centro-Oeste'
 'Fundo de Desenvolvimento do Nordeste' 'Autoridade Pública Olímpica'
 'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro'
 'Ministério do Meio Ambiente - Unidades com vínculo direto'
 'Fundo Nacional sobre Mudança no Clima'
 'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis'
 'Instituto Chico Mendes de Conservação da Biodiversidade'
 'Fundo Nacional do Meio Ambiente'
 'Ministério do Trabalho e Emprego - Unidades com vínculo direto'
 'Fundação Casa de Rui Barbosa' 'Instituto Brasileiro de Turismo'
 'Instituto Brasileiro de Museus'
 'Instituto do Patrimônio Histórico e Artístico Nacional'
 'Fundação Nacional de Artes' 'Fundo Nacional de Cultura'
 'Agência Nacional do Cinema'
 'Ministério do Turismo - Unidades com vínculo direto'
 'Fundação Cultural Palmares' 'Fundação Biblioteca Nacional'
 'Fundo Geral de Turismo' 'Presidência da República'
 'Secretaria de Políticas de Promoção da Igualdade Racial'
 'Secretaria de Direitos Humanos' 'Fundo de Imprensa Nacional'
 'Secretaria da Micro e Pequena Empresa'
 'Instituto Nacional de Tecnologia da Informação'
 'Gabinete da Vice-Presidência da República'
 'Secretaria de Assuntos Estratégicos']

In [36]:
# Valores de la columna de `Nombre de organización gestora`.

print(f"Las organizaciones gestoras que nos encontramos en la adminsitración de Brasil en 2013 son: \n \n { datos_2013["NOME UNIDADE GESTORA"].unique()}")

Las organizaciones gestoras que nos encontramos en la adminsitración de Brasil en 2013 son:

 ['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU'
 'DIRETORIA DE GESTAO INTERNA/SE/CGU' 'EMBRAPA-SETORIAL'
 'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA'
 'COMPANHIA NACIONAL DE ABASTECIMENTO'
 'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB'
 'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA'
 'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA' 'CREDITO FUNDIARIO'
 'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB./MINC'
 'DEPARTAMENTO DE GESTAO INTERNA' 'SETORIAL DE ORCAMENTO E FINANCAS/MC'
 'FUNDO NACIONAL DE ASSISTENCIA SOCIAL'
 'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS'
 'CNPQ - ADMINISTRACAO CENTRAL' 'CNEN-ORCAMENTO E FINANCAS'
 'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO'
 'FINANCIADORA DE ESTUDOS E PROJETOS'
 'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN'
 'CNPQ - DIFERENCIA CAMBIAL' 'AGENCIA ESPACIAL BRASILEIRA/AEB'
 'EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS'
 'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.' 'FUNDO DO EXERCITO'
 'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM'
 'AGENCIA NACIONAL DE AVIACAO CIVIL - F. AEROV.'
 'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS'
 'D CONT - SETORIAL FINANCEIRA'
 'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA'
 'DIRETORIA DE FINANCAS DA MARINHA - CCCPM'
 'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)'
 'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR'
 'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA' 'FUNDACAO OSORIO'
 'FUNDO NAVAL - DIFERENCA CAMBIAL' 'MAER - DIFERENCA CAMBIAL'
 'MARINHA - DIFERENCA CAMBIAL'
 'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB'
 'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG'
 'SETORIAL ORCAMENTARIA E FINANCEIRA / ME'
 'COORDENACAO-GERAL DE ORC. E FINANCAS/MP'
 'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.'
 'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ'
 'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM' 'BANCO CENTRAL DO BRASIL'
 'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC'
 'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ'
 'COORD.GERAL DE ORC. FIN. E CONTABILIDADE'
 'COORDENACAO-GERAL DE ORCAM.FINAN.CONTAB/MDIC'
 'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL'
 'COMISSAO DE VALORES MOBILIARIOS'
 'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP'
 'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA'
 'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL'
 'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO'
 'FUNDO DE GARANTIA A EXPORTACAO-BNDES'
 'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO'
 'FUNDO DE COMPENSACAO E VARIACAO SALARIAL' 'CASA DA MOEDA DO BRASIL'
 'FUNDO DE ESTABILIDADE DO SEGURO RURAL'
 'INSTITUTO DE PESQUISA ECONOMICA APLICADA'
 'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC'
 'FUNDO CONTINGENTE DA EXTINTA RFFSA-FC'
 'FUNDO NACIONAL DE DESENVOLVIMENTO' 'STN - EXTERIOR - DIF.CAMBIAL'
 'FUNDO SOBERANO DO BRASIL' 'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL'
 'INST.FED.DE EDUC.,CIENC.E TEC.DO RN'
 'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO'
 'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)'
 'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI'
 'UNIVERSIDADE FEDERAL DO CEARA' 'IF GOIANO'
 'UNIVERSIDADE FEDERAL DA BAHIA' 'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA'
 'FUNDACAO JOAQUIM NABUCO' 'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE'
 'INSTITUTO FEDERAL CATARINENSE - REITORIA'
 'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA'
 'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS'
 'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO'
 'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE'
 'UNIVERSIDADE FEDERAL DE MINAS GERAIS' 'UNIVERSIDADE FEDERAL DE ITAJUBA'
 'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL'
 'INST. FED. DO PARANA/ REITORIA'
 'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO'
 'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE'
 'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA'
 'INSTITUTO FED CIENCIA TECNOL SUDESTE MG'
 'FUNDACAO UNIVERSIDADE DO AMAZONAS' 'IFPB - REITORIA'
 'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG'
 'UNIVERSIDADE FEDERAL DE VICOSA'
 'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO'
 'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS'
 'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA'
 'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA'
 'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA'
 'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO'
 'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO'
 'UNIVERSIDADE FEDERAL DA PARAIBA'
 'UNIVERSIDADE FEDERAL DE SANTA CATARINA' 'REITORIA'
 'IFB - REITORIA - BRASILIA-DF' 'UNIVERSIDADE FEDERAL DE LAVRAS'
 'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG'
 'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO'
 'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO'
 'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE'
 'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS'
 'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN'
 'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS'
 'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL'
 'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR'
 'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO'
 'UNIVERSIDADE FEDERAL FLUMINENSE'
 'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO'
 'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI'
 'INST.FED.DE EDUC.,CIENC.E TEC.DO RS'
 'UNIVERSIDADE FEDERAL DE SANTA MARIA'
 'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB'
 'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA'
 'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS'
 'UNIVERSIDADE FEDERAL DE OURO PRETO'
 'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE'
 'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA'
 'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS'
 'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO'
 'HOSPITAL DE CLINICAS DE PORTO ALEGRE'
 'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO'
 'CAPES - DIFERENCA CAMBIAL' 'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE'
 'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA'
 'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA'
 'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS'
 'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA'
 'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS'
 'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI' 'COLEGIO PEDRO II'
 'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG'
 'UNIVERSIDADE FEDERAL DE ALAGOAS' 'UNIVERSIDADE FEDERAL DE GOIAS'
 'UNIVERSIDADE FEDERAL DE ALFENAS'
 'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA'
 'INSTITUTO FEDERAL DE SAO PAULO' 'FUNDACAO UNIVERSIDADE DO MARANHAO'
 'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC'
 'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO'
 'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL'
 'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA'
 'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO'
 'UNIVERSIDADE FEDERAL DE JUIZ DE FORA'
 'UNIVERSIDADE FEDERAL DO OESTE DO PARA'
 'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA'
 'FUNDACAO UNIVERSIDADE FEDERAL DO ABC'
 'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO'
 'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS'
 'UNIVERSIDADE FEDERAL DO PARANA'
 'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS'
 'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE'
 'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI'
 'UNIVERSIDADE FEDERAL DE PERNAMBUCO'
 'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO'
 'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ'
 'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE'
 'UNIVERSIDADE FEDERAL DE RORAIMA'
 'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE'
 'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA' 'UNIVERSIDADE FEDERAL DO PARA'
 'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA'
 'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG'
 'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA'
 'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES'
 'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL'
 'AGENCIA NACIONAL DE AVIACAO CIVIL'
 'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.'
 'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES' 'FUNDO DA MARINHA MERCANTE'
 'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO'
 'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL'
 'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS' 'SECRETARIA DE PORTOS/PR'
 'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.'
 'FUNDO NACIONAL DE AVIACAO CIVIL'
 'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL'
 'SECRETARIA DE AVIACAO CIVIL/PR' 'COMPANHIA DOCAS DO ESTADO DE SAO PAULO'
 'COMPANHIA DOCAS DO ESTADO DA BAHIA' 'COMPANHIA DOCAS DO CEARA'
 'COMPANHIA DOCAS DO RIO DE JANEIRO'
 'COMPANHIA DOCA DO RIO GRANDE DO NORTE' 'COMPANHIA DOCAS DO PARA'
 'COMPANHIA DOCAS DO ESPIRITO SANTO'
 'SUPERINT. INFRAESTRUTURA AEROPORTUARIA - ANAC'
 'DEPTO.DE POLICIA RODOVIARIA FEDERAL'
 'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA'
 'FUNDO DE DEFESA DOS DIREITOS DIFUSOS' 'DEPEN - DIRETORIA EXECUTIVA'
 'FUNDACAO NACIONAL DO INDIO - U.O.'
 'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA'
 'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP'
 'COORDENACAO DE ORCAMENTO E FINANCAS - COF/DPF'
 'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ'
 'FUNDO NACIONAL ANTIDROGAS' 'RENDA DO PATRIMONIO INDIGENA'
 'SECRETARIA DE POLITICAS PARA AS MULHERES' 'SECRETARIA EXECUTIVA-MPA'
 'COORDENACAO-GERAL DE ORC. FIN.E CONTABILIDADE'
 'FUNDACAO NACIONAL DE SAUDE - DF' 'FUNDACAO OSWALDO CRUZ'
 'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A'
 'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS'
 'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR'
 'AGENCIA NACIONAL DE VIGILANCIA SANITARIA' 'HOSPITAL CRISTO REDENTOR S/A'
 'HOSPITAL FEMINA S/A' 'EMPRESA BRASIL DE COMUNICACAO S.A'
 'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE'
 'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES'
 'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES' 'FUNDO NACIONAL DO IDOSO'
 'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE'
 'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE'
 'FUNDACAO ALEXANDRE DE GUSMAO' 'MRE - DIFERENCA CAMBIAL'
 'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB'
 'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS'
 'COORD.GERAL DE ORCAM.E FIN./M.M.E'
 'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM'
 'DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE'
 'AGENCIA NACIONAL DE ENERGIA ELETRICA' 'EMPRESA DE PESQUISA ENERGETICA'
 'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP'
 'SUBSEC. DE PLANEJ., ORCAMENTO E ADMINISTRACAO'
 'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A'
 'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL'
 'FUNDO CONSTITUCIONL DO CENTRO OESTE'
 'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE'
 'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE'
 'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO'
 'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA'
 'SECRETARIA EXECUTIVA - MINISTERIO DAS CIDADES'
 'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA'
 'FUNDO DE DESENVOLVIMENTO DA AMAZONIA' 'ORCAMENTO E FINANCAS/MDR'
 'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL'
 'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE'
 'COORDENACAO DE ORCAMENTO E FINANCAS.'
 'AGENCIA DE DESENVOLVIMENTO DA AMAZONIA'
 'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE'
 'FUNDO DE DESENVOLVIMENTO DO NORDESTE' 'AUTORIDADE PUBLICA OLIMPICA'
 'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ'
 'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)'
 'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC'
 'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ'
 'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE'
 'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA'
 'COORD-GERAL DE ORCAM., FIN. E CONTABILIDADE'
 'FUNDACAO CASA DE RUI BARBOSA'
 'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO'
 'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM'
 'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL'
 'FUNDACAO NACIONAL DE ARTES'
 'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC'
 'AGENCIA NACIONAL DO CINEMA' 'CGOFC - SETORIAL/MTUR'
 'FUNDACAO CULTURAL PALMARES' 'FUNDACAO BIBLIOTECA NACIONAL'
 'FUNDO GERAL DE TURISMO-FUNGETUR'
 'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR'
 'SECRETARIA DE POLIT. DE PROM.DA IGUALD.RACIAL'
 'SECRETARIA DE DIREITOS HUMANOS/PR'
 'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.'
 'SECRETARIA DA MICRO E PEQUENA EMPRESA'
 'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI'
 'GABINETE DA VICE-PRESIDENCIA DA REPUBLICA'
 'SECRETARIA DE ASSUNTOS ESTRATEGICOS-SAE/PR']

In [64]:
# Valores de la columna de `Categoría económica`.

print("Los ingresos de Brasil se clasifican en las siguientes categorías en 2013: \n ")
detalle_categoría_economica = pd.DataFrame(datos_2013["CATEGORIA ECONÔMICA"].value_counts())
detalle_categoría_economica["Peso categoría"] = round(((detalle_categoría_economica["count"]/datos_2013.shape[0])*100), 2)
detalle_categoría_economica

Los ingresos de Brasil se clasifican en las siguientes categorías en 2013:

                                           count  Peso categoría
CATEGORIA ECONÔMICA
Receitas Correntes                          4001           88.95
Receitas de Capital                          259            5.76
Receitas Correntes - intra-orçamentárias     236            5.25
Sem informação                                 1            0.02
Receitas de Capital - intra-orçamentárias      1            0.02

In [58]:
# Valores de la columna de `Origen de ingresos`.

print("Los ingresos de Brasil provienen de las siguientes categorías en 2013: \n ")
detalle_origen_ingreso = pd.DataFrame(datos_2013["ORIGEM RECEITA"].value_counts())
detalle_origen_ingreso

Los ingresos de Brasil provienen de las siguientes categorías en 2013:

                                             count
ORIGEM RECEITA
Outras Receitas Correntes                     1982
Receita de Serviços                            978
Receita Patrimonial                            621
Alienação de Bens                              184
Impostos, Taxas e Contribuições de Melhoria    176
Contribuições                                  176
Transferências Correntes                       126
Receita Agropecuária                           105
Receita Industrial                              61
Amortizações de Empréstimos                     24
Transferências de Capital                       22
Operações de Crédito                            20
Receitas Correntes - a classificar              12
Outras Receitas de Capital                      10
Sem informação                                   1

In [57]:
# Valores de la columna de `Especie de ingreso`.

print("Los ingresos de Brasil provienen de las siguientes categorías en 2013: \n ")
detalle_especie_ingreso = pd.DataFrame(datos_2013["ESPÉCIE RECEITA"].value_counts())
detalle_especie_ingreso

Los ingresos de Brasil provienen de las siguientes categorías en 2013:

                                               count
ESPÉCIE RECEITA
Receita de Serviços                              978
Multas administrativas, contratuais e judicia    911
Indenizações, restituições e ressarcimentos      654
Exploração do patrimônio imobiliário do Estad    302
Demais receitas correntes                        229
Bens, Direitos e Valores Incorporados ao Patr    163
Valores Mobiliários                              160
Alienação de bens móveis                         156
Impostos                                         124
Contribuições sociais                            115
Transferências de Convênios                       85
Exploração de recursos naturais                   66
Receitas da indústria de transformação            61
Contribuições econômicas                          61
Delegação de Serviços Públicos Mediante Conce     60
Taxas                                             52
Receita da produção vegetal                       49
Receita da produção animal e derivados            48
Alienação de bens imóveis                         28
Amortizações de Empréstimos                       24
Transferências de Pessoas Físicas                 23
Indenizações e restituições                       23
Demais receitas patrimoniais                      18
Transferências dos Municípios e de suas Entid     17
Transferências de Instituições Privadas           13
Operações de crédito - mercado externo            13
Receitas Correntes - a classificar                12
Receita de concessões e permissões                 9
Outras receitas agropecuárias                      8
Operações de crédito - mercado interno             7
Transferências de Outras Instituições Pública      5
Cessão de direitos                                 4
Transferências dos Estados e do Distrito Fede      4
Receita títulos do tesouro nacional resgatado      3
Receitas de valores mobiliários                    2
Receita dívida ativa proveniente de amortizaç      2
Resultado do Banco Central do Brasil               2
Receita dívida ativa alienação de estoques de      1
Receitas decorrentes de aportes periódicos pa      1
Sem informação                                     1
Receitas decorrentes de compensações ao Regim      1
Remuneração das Disponibilidades do Tesouro N      1
Outras receitas                                    1
Transferências do Exterior                         1

In [54]:
# Valores de la columna de `Detalle adicional del tipo de ingreso`.
print("Los ingresos de Brasil provienen de las siguientes categorías en 2013: \n")
detalle_adicional_ingreso = pd.DataFrame(datos_2013["DETALHAMENTO"].value_counts())
detalle_adicional_ingreso

Los ingresos de Brasil provienen de las siguientes categorías en 2013:

                                               count
DETALHAMENTO
RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES     214
SERVICOS ADMINISTRATIVOS                         195
OUTRAS RESTITUICOES                              173
OUTRAS RECEITAS                                  162
ALUGUEIS                                         147
...                                              ...
REC.DIV.ATIV.SERVIC.INSP.FISC.ATIV.MINERAL         1
REC.DIV.ATIV.-MULTA PREV. LEG. LUB. E COMBUST      1
ALIEN. BENS IMOVEIS DE DOM DA UNIAO-DOM PLENO      1
Receitas decorrentes de aportes periódicos pa      1
MULTAS POR INFRACOES A LEG. CINEMATOGRAFICA        1

[704 rows x 1 columns]

In [44]:
# Valores de la columna de `Detalle adicional del tipo de ingreso`.

print(f"Los ingresos de Brasil han sido registrados en las siguientes fechas en 2013: \n \n { datos_2013["DATA LANÇAMENTO"].unique()}")

Los ingresos de Brasil han sido registrados en las siguientes fechas en 2013:

 <DatetimeArray>
['2013-12-31 00:00:00']
Length: 1, dtype: datetime64[ns]

In [48]:
datos_2013["VALOR PREVISTO ATUALIZADO"].value_counts()

VALOR PREVISTO ATUALIZADO
0.0          1625
6000000.0       5
300000.0        3
60000.0         3
1102.0          3
             ...
5760731.0       1
20149.0         1
6379021.0       1
123985.0        1
447630.0        1
Name: count, Length: 2788, dtype: int64

In [45]:
# Valores de la columna de `Detalle adicional del tipo de ingreso`.

print(f"Los ingresos de Brasil han sido registrados en las siguientes fechas en 2013: \n \n { datos_2013["ANO EXERCÍCIO"].unique()}")

Los ingresos de Brasil han sido registrados en las siguientes fechas en 2013:

 [2013]

Las columnas del dataframe de 2013 nos proporcionan información sobre como se estructura la contabilidad, la balanza de pagos de Brasil en este año. Realizaremos un estudio más profundo sobre su estructura contable, y la proveniencia de los ingresos de este país.

In [ ]:
# Guardamos los datos de 2013 en formato pickle para poder trabajar con ellos en otros documentos con las modificaciones que hemos aplicado
# en este documento.
pd.to_pickle(datos_2013, "datos/datos_2013.pkl")

**Datos 2014**

In [65]:
# Importamos los datos del año 2014
datos_2014 = pd.read_csv("datos/datos-2014.csv", sep = ";", encoding = "latin-1")
datos_2014. head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORÁRIOS DE ADVOGADOS,"0,00","0,00","46699948,08","0,00",31/12/2014,2014

In [66]:
# Nos creamos una copia del DataFrame por si acaso
copia_datos_2014 = datos_2014.copy()
copia_datos_2014.head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORÁRIOS DE ADVOGADOS,"0,00","0,00","46699948,08","0,00",31/12/2014,2014

Información general del DataFrame de 2014

In [68]:
# Realizamos una revisión de la información general del dataframe de los datos de 2014.
print(datos_2014.shape)
info_df(datos_2014)

(4553, 16)

                          Tipo_dato  numero_registros  Numero_nulos  %_nulos
CÓDIGO ÓRGÃO SUPERIOR         int64              4553             0      0.0
NOME ÓRGÃO SUPERIOR          object              4553             0      0.0
CÓDIGO ÓRGÃO                  int64              4553             0      0.0
NOME ÓRGÃO                   object              4553             0      0.0
CÓDIGO UNIDADE GESTORA        int64              4553             0      0.0
NOME UNIDADE GESTORA         object              4553             0      0.0
CATEGORIA ECONÔMICA          object              4553             0      0.0
ORIGEM RECEITA               object              4553             0      0.0
ESPÉCIE RECEITA              object              4553             0      0.0
DETALHAMENTO                 object              4553             0      0.0
VALOR PREVISTO ATUALIZADO    object              4553             0      0.0
VALOR LANÇADO                object              4553             0      0.0
VALOR REALIZADO              object              4553             0      0.0
PERCENTUAL REALIZADO         object              4553             0      0.0
DATA LANÇAMENTO              object              4553             0      0.0
ANO EXERCÍCIO                 int64              4553             0      0.0

No hay valores nulos en el DataFrame de 2014

In [69]:
# Nos encontramos con varias columnas que contienen datos númericos que tienen formato objeto.
 
print(datos_2014["VALOR PREVISTO ATUALIZADO"].dtypes)
print(datos_2014["VALOR LANÇADO"].dtypes)
print(datos_2014["VALOR REALIZADO"].dtypes)
print(datos_2014["PERCENTUAL REALIZADO"].dtypes)

# Para poder trabajar con estas columnas vamos a necesitar cambiar el tipo de dato de las mismas.

object
object
object
object

In [70]:
# Como queremos modificar las columnas anteriores, nos creamos una lista que contenga las mismas. Para ello hacemos uso de iloc. 
columnas_2014 = datos_2014.iloc[:,10: 14].columns
columnas_2014

Index(['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO'],
      dtype='object')

In [71]:
# Aplicamos la función de cambio de tipo de datos y revisamos que el cambio se ha realizado con éxito.
datos_2014 = buscar_reemplazar(datos_2014, columnas_2014)
datos_2014.head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORÁRIOS DE ADVOGADOS,0.0,0.0,46699948.08,0.0,31/12/2014,2014

In [72]:
# En las siguientes columnas tenemos información de tipo fecha pero las tenemos en tipo objeto o entero. Vamos a realizar el tipo de cambio de dato
# de la columna que tenemos en tipo objeto, ya que la de tipo entero no merece la pena realizar el cambio.
print(datos_2014["DATA LANÇAMENTO"].dtypes)
print(datos_2014["ANO EXERCÍCIO"].dtypes)

object
int64

In [73]:
datos_2014["DATA LANÇAMENTO"] = pd.to_datetime(datos_2014["DATA LANÇAMENTO"], format="%d/%m/%Y")
datos_2014.head(2)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORÁRIOS DE ADVOGADOS,0.0,0.0,46699948.08,0.0,2014-12-31,2014
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS E JUROS PREVISTOS EM CONTRATOS,0.0,0.0,15920.83,0.0,2014-12-31,2014

In [77]:
# Comprobamos que el cambio de tipo de dato se ha realizado de forma correcta.
datos_2014["DATA LANÇAMENTO"].dtypes
# Aunque nos devuelva en M8 está bien, pendiente explicación del M8.

dtype('<M8[ns]')

In [78]:
# Revisamos si existen valores duplicados en el dataframe
numero_duplicados_df_2014 = datos_2014.duplicated().sum()
numero_duplicados_df_2014

np.int64(0)

Información general sobre el dataframe de 2014:
- Todas las columnas contienen 4.553 entradas. 
- No existen entradas con valor nulo en ninguna de las columnas.
- No existen valores duplicados en el dataframe.
- Nos encontramos con los siguientes tipos de datos: object, float, int, datetime.

**Datos 2015**

In [79]:
# Importamos los datos del año 2015
datos_2015 = pd.read_csv("datos/datos-2015.csv", sep = ";", encoding = "latin-1")
datos_2015. head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORARIOS DE ADVOGADOS,"0,00","0,00","63829853,40","0,00",31/12/2015,2015

In [80]:
# Nos creamos una copia del DataFrame por si acaso
copia_datos_2015 = datos_2015.copy()
copia_datos_2015.head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORARIOS DE ADVOGADOS,"0,00","0,00","63829853,40","0,00",31/12/2015,2015

Información general del DataFrame de 2014

In [81]:
# Realizamos una revisión de la información general del dataframe de los datos de 2014.
print(datos_2015.shape)
info_df(datos_2015)

(4523, 16)

                          Tipo_dato  numero_registros  Numero_nulos  %_nulos
CÓDIGO ÓRGÃO SUPERIOR         int64              4523             0      0.0
NOME ÓRGÃO SUPERIOR          object              4523             0      0.0
CÓDIGO ÓRGÃO                  int64              4523             0      0.0
NOME ÓRGÃO                   object              4523             0      0.0
CÓDIGO UNIDADE GESTORA        int64              4523             0      0.0
NOME UNIDADE GESTORA         object              4523             0      0.0
CATEGORIA ECONÔMICA          object              4523             0      0.0
ORIGEM RECEITA               object              4523             0      0.0
ESPÉCIE RECEITA              object              4523             0      0.0
DETALHAMENTO                 object              4523             0      0.0
VALOR PREVISTO ATUALIZADO    object              4523             0      0.0
VALOR LANÇADO                object              4523             0      0.0
VALOR REALIZADO              object              4523             0      0.0
PERCENTUAL REALIZADO         object              4523             0      0.0
DATA LANÇAMENTO              object              4523             0      0.0
ANO EXERCÍCIO                 int64              4523             0      0.0

In [83]:
# Los datos de la columna del monto previsto actualizado contiene números que tienen formato objeto, cuando son datos numéricos. 
print(datos_2015["VALOR PREVISTO ATUALIZADO"].dtypes)
print(datos_2015["VALOR LANÇADO"].dtypes)
print(datos_2015["VALOR REALIZADO"].dtypes)
print(datos_2015["PERCENTUAL REALIZADO"].dtypes)
# Para poder trabajar con estas columnas vamos a necesitar cambiar el tipo de dato de las mismas.

object
object
object
object

In [84]:
# Como queremos modificar las columnas anteriores, nos creamos una lista que contenga las mismas. Para ello hacemos uso de iloc. 
columnas_2015 = datos_2015.iloc[:,10: 14].columns
columnas_2015

Index(['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO'],
      dtype='object')

In [85]:
# Aplicamos la función de cambio de tipo de datos y revisamos que el cambio se ha realizado con éxito.
datos_2015 = buscar_reemplazar(datos_2015, columnas_2015)
datos_2015.head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORARIOS DE ADVOGADOS,0.0,0.0,63829853.4,0.0,31/12/2015,2015

In [87]:
# En las siguientes columnas tenemos información de tipo fecha pero las tenemos en tipo objeto o entero. Vamos a realizar el tipo de cambio de dato
# de la columna que tenemos en tipo objeto, ya que la de tipo entero no merece la pena realizar el cambio.
print(datos_2015["DATA LANÇAMENTO"].dtypes)
print(datos_2015["ANO EXERCÍCIO"].dtypes)

object
int64

In [89]:
datos_2015["DATA LANÇAMENTO"] = pd.to_datetime(datos_2015["DATA LANÇAMENTO"], format="%d/%m/%Y")
datos_2015.head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORARIOS DE ADVOGADOS,0.0,0.0,63829853.4,0.0,2015-12-31,2015

In [90]:
# Comprobamos que el cambio de tipo de dato se ha realizado de forma correcta.
datos_2014["DATA LANÇAMENTO"].dtypes
# Aunque nos devuelva en M8 está bien, pendiente explicación del M8.

dtype('<M8[ns]')

In [91]:
# Revisamos si existen valores duplicados en el dataframe
numero_duplicados_df_2015 = datos_2015.duplicated().sum()
numero_duplicados_df_2015

np.int64(0)

Información general sobre el dataframe de 2015:
- Todas las columnas contienen 4.523 entradas. 
- No existen entradas con valor nulo en ninguna de las columnas.
- No existen valores duplicados en el dataframe.
- Nos encontramos con los siguientes tipos de datos: object, float, int, datetime.

**Datos 2016**

In [59]:
# Importamos los datos del año 2016
datos_2016 = pd.read_csv("datos/datos-2016.csv", sep = ";", encoding = "latin-1")
datos_2016. head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,ENCARGOS LEGAIS PELA INSCR.EM DIV.ATIVA-PRINC,"0,00","0,00","154948,98","0,00",04/04/2016,2016

In [60]:
# Nos creamos una copia del DataFrame por si acaso
copia_datos_2016 = datos_2016.copy()
copia_datos_2016.head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,ENCARGOS LEGAIS PELA INSCR.EM DIV.ATIVA-PRINC,"0,00","0,00","154948,98","0,00",04/04/2016,2016

Información general sobre los datos de 2016.

In [61]:
info_df(datos_2016)

                          Tipo_dato  numero_registros  Numero_nulos  %_nulos
CÓDIGO ÓRGÃO SUPERIOR         int64            194533             0     0.00
NOME ÓRGÃO SUPERIOR          object            194533             0     0.00
CÓDIGO ÓRGÃO                  int64            194533             0     0.00
NOME ÓRGÃO                   object            194533             0     0.00
CÓDIGO UNIDADE GESTORA        int64            194533             0     0.00
NOME UNIDADE GESTORA         object            194533             0     0.00
CATEGORIA ECONÔMICA          object            194533             0     0.00
ORIGEM RECEITA               object            194533             0     0.00
ESPÉCIE RECEITA              object            194533             0     0.00
DETALHAMENTO                 object            194533             0     0.00
VALOR PREVISTO ATUALIZADO    object            194533             0     0.00
VALOR LANÇADO                object            194533             0     0.00
VALOR REALIZADO              object            194533             0     0.00
PERCENTUAL REALIZADO         object            194533             0     0.00
DATA LANÇAMENTO              object            194451            82     0.04
ANO EXERCÍCIO                 int64            194533             0     0.00

Hay valores nulos en la columna de `DATA LANÇAMENTO`, la de la fecha en la que se registró el ingreso.

In [62]:
numero_duplicados_df_2016 = datos_2016.duplicated().sum()
numero_duplicados_df_2016

np.int64(0)

In [63]:
# Como queremos modificar las columnas anteriores, nos creamos una lista que contenga las mismas. Para ello hacemos uso de iloc. 
columnas_2016_fecha = datos_2016.iloc[:,14: 16].columns
columnas_2016_fecha

Index(['DATA LANÇAMENTO', 'ANO EXERCÍCIO'], dtype='object')

In [64]:
datos_2016 = cambio_fecha(datos_2016, columnas_2016_fecha)
datos_2016.head(2)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,ENCARGOS LEGAIS PELA INSCR.EM DIV.ATIVA-PRINC,"0,00","0,00","154948,98","0,00",2016-04-04,1970-01-01 00:00:00.000002016
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,ONUS DE SUCUMBENCIA-MULTAS E JUROS,"0,00","0,00","80,84","0,00",2016-08-12,1970-01-01 00:00:00.000002016

In [65]:
info_df(datos_2016)

,Tipo_dato,numero_registros,Numero_nulos,%_nulos
CÓDIGO ÓRGÃO SUPERIOR,int64,194533,0,0.00
NOME ÓRGÃO SUPERIOR,object,194533,0,0.00
CÓDIGO ÓRGÃO,int64,194533,0,0.00
NOME ÓRGÃO,object,194533,0,0.00
CÓDIGO UNIDADE GESTORA,int64,194533,0,0.00
NOME UNIDADE GESTORA,object,194533,0,0.00
CATEGORIA ECONÔMICA,object,194533,0,0.00
ORIGEM RECEITA,object,194533,0,0.00
ESPÉCIE RECEITA,object,194533,0,0.00
DETALHAMENTO,object,194533,0,0.00
VALOR PREVISTO ATUALIZADO,object,194533,0,0.00
VALOR LANÇADO,object,194533,0,0.00
VALOR REALIZADO,object,194533,0,0.00
PERCENTUAL REALIZADO,object,194533,0,0.00
DATA LANÇAMENTO,datetime64[ns],194451,82,0.04
ANO EXERCÍCIO,datetime64[ns],194533,0,0.00

**Datos 2017**

In [66]:
# Importamos los datos del año 2017
datos_2017 = pd.read_csv("datos/datos-2017.csv", sep = ";", encoding = "latin-1")
datos_2017. head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","198,00","0,00",29/08/2017,2017

In [67]:
# Nos creamos una copia del DataFrame por si acaso
copia_datos_2017 = datos_2017.copy()
copia_datos_2017.head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","198,00","0,00",29/08/2017,2017

In [68]:
info_df(datos_2017)

                          Tipo_dato  numero_registros  Numero_nulos  %_nulos
CÓDIGO ÓRGÃO SUPERIOR         int64            190479             0     0.00
NOME ÓRGÃO SUPERIOR          object            190479             0     0.00
CÓDIGO ÓRGÃO                  int64            190479             0     0.00
NOME ÓRGÃO                   object            190479             0     0.00
CÓDIGO UNIDADE GESTORA        int64            190479             0     0.00
NOME UNIDADE GESTORA         object            190479             0     0.00
CATEGORIA ECONÔMICA          object            190479             0     0.00
ORIGEM RECEITA               object            190479             0     0.00
ESPÉCIE RECEITA              object            190479             0     0.00
DETALHAMENTO                 object            190479             0     0.00
VALOR PREVISTO ATUALIZADO    object            190479             0     0.00
VALOR LANÇADO                object            190479             0     0.00
VALOR REALIZADO              object            190479             0     0.00
PERCENTUAL REALIZADO         object            190479             0     0.00
DATA LANÇAMENTO              object            190393            86     0.05
ANO EXERCÍCIO                 int64            190479             0     0.00

Hay 86 valores nulos en la columna de `DATA LANÇAMENTO`, la de la fecha en la que se registró el ingreso.

In [69]:
numero_duplicados_df_2017 = datos_2017.duplicated().sum()
numero_duplicados_df_2017

np.int64(0)

**Datos 2018**

In [70]:
# Importamos los datos del año 2018
datos_2018 = pd.read_csv("datos/datos-2018.csv", sep = ";", encoding = "latin-1")
datos_2018. head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","-1693,72","0,00",25/07/2018,2018

In [71]:
# Nos creamos una copia del DataFrame por si acaso
copia_datos_2018 = datos_2018.copy()
copia_datos_2018.head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","-1693,72","0,00",25/07/2018,2018

In [72]:
info_df(datos_2018)

                          Tipo_dato  numero_registros  Numero_nulos  %_nulos
CÓDIGO ÓRGÃO SUPERIOR         int64            173944             0     0.00
NOME ÓRGÃO SUPERIOR          object            173944             0     0.00
CÓDIGO ÓRGÃO                  int64            173944             0     0.00
NOME ÓRGÃO                   object            173944             0     0.00
CÓDIGO UNIDADE GESTORA        int64            173944             0     0.00
NOME UNIDADE GESTORA         object            173944             0     0.00
CATEGORIA ECONÔMICA          object            173944             0     0.00
ORIGEM RECEITA               object            173944             0     0.00
ESPÉCIE RECEITA              object            173944             0     0.00
DETALHAMENTO                 object            173944             0     0.00
VALOR PREVISTO ATUALIZADO    object            173944             0     0.00
VALOR LANÇADO                object            173944             0     0.00
VALOR REALIZADO              object            173944             0     0.00
PERCENTUAL REALIZADO         object            173944             0     0.00
DATA LANÇAMENTO              object            173829           115     0.07
ANO EXERCÍCIO                 int64            173944             0     0.00

Hay 115 valores nulos en la columna de `DATA LANÇAMENTO`, la de la fecha en la que se registró el ingreso.

In [73]:
numero_duplicados_df_2018 = datos_2018.duplicated().sum()
numero_duplicados_df_2018

np.int64(0)

**Datos 2019**

In [74]:
# Importamos los datos del año 2019
datos_2019 = pd.read_csv("datos/datos-2019.csv", sep = ";", encoding = "latin-1")
datos_2019. head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL,"0,00","0,00","-95,00","0,00",12/06/2019,2019

In [75]:
# Nos creamos una copia del DataFrame por si acaso
copia_datos_2019 = datos_2019.copy()
copia_datos_2019.head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL,"0,00","0,00","-95,00","0,00",12/06/2019,2019

In [76]:
info_df(datos_2019)

                          Tipo_dato  numero_registros  Numero_nulos  %_nulos
CÓDIGO ÓRGÃO SUPERIOR         int64            176828             0     0.00
NOME ÓRGÃO SUPERIOR          object            176828             0     0.00
CÓDIGO ÓRGÃO                  int64            176828             0     0.00
NOME ÓRGÃO                   object            176828             0     0.00
CÓDIGO UNIDADE GESTORA        int64            176828             0     0.00
NOME UNIDADE GESTORA         object            176828             0     0.00
CATEGORIA ECONÔMICA          object            176828             0     0.00
ORIGEM RECEITA               object            176828             0     0.00
ESPÉCIE RECEITA              object            176828             0     0.00
DETALHAMENTO                 object            176828             0     0.00
VALOR PREVISTO ATUALIZADO    object            176828             0     0.00
VALOR LANÇADO                object            176828             0     0.00
VALOR REALIZADO              object            176828             0     0.00
PERCENTUAL REALIZADO         object            176828             0     0.00
DATA LANÇAMENTO              object            176742            86     0.05
ANO EXERCÍCIO                 int64            176828             0     0.00

Hay 86 valores nulos en la columna de `DATA LANÇAMENTO`, la de la fecha en la que se registró el ingreso.

In [77]:
numero_duplicados_df_2019 = datos_2019.duplicated().sum()
numero_duplicados_df_2019

np.int64(0)

**Datos 2020**

In [78]:
# Importamos los datos del año 2019
datos_2020 = pd.read_csv("datos/datos-2020.csv", sep = ";", encoding = "latin-1")
datos_2020. head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA,"0,00","0,00","5516,90","0,00",28/04/2020,2020

In [79]:
# Nos creamos una copia del DataFrame por si acaso
copia_datos_2020 = datos_2020.copy()
copia_datos_2020.head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA,"0,00","0,00","5516,90","0,00",28/04/2020,2020

In [80]:
info_df(datos_2020)

                          Tipo_dato  numero_registros  Numero_nulos  %_nulos
CÓDIGO ÓRGÃO SUPERIOR         int64            142348             0     0.00
NOME ÓRGÃO SUPERIOR          object            142348             0     0.00
CÓDIGO ÓRGÃO                  int64            142348             0     0.00
NOME ÓRGÃO                   object            142348             0     0.00
CÓDIGO UNIDADE GESTORA        int64            142348             0     0.00
NOME UNIDADE GESTORA         object            142348             0     0.00
CATEGORIA ECONÔMICA          object            142348             0     0.00
ORIGEM RECEITA               object            142348             0     0.00
ESPÉCIE RECEITA              object            142348             0     0.00
DETALHAMENTO                 object            142348             0     0.00
VALOR PREVISTO ATUALIZADO    object            142348             0     0.00
VALOR LANÇADO                object            142348             0     0.00
VALOR REALIZADO              object            142348             0     0.00
PERCENTUAL REALIZADO         object            142348             0     0.00
DATA LANÇAMENTO              object            142262            86     0.06
ANO EXERCÍCIO                 int64            142348             0     0.00

Hay 86 valores nulos en la columna de `DATA LANÇAMENTO`, la de la fecha en la que se registró el ingreso.

In [81]:
numero_duplicados_df_2020 = datos_2020.duplicated().sum()
numero_duplicados_df_2020

np.int64(0)

**Datos 2021**

In [82]:
# Importamos los datos del año 2019
datos_2021 = pd.read_csv("datos/datos-2021.csv", sep = ";", encoding = "latin-1")
datos_2021. head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.,"2224034904,00","0,00","0,00","0,00",23/04/2021,2021

In [83]:
# Nos creamos una copia del DataFrame por si acaso
copia_datos_2021 = datos_2021.copy()
copia_datos_2021.head(1)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.,"2224034904,00","0,00","0,00","0,00",23/04/2021,2021

In [84]:
info_df(datos_2021)

                          Tipo_dato  numero_registros  Numero_nulos  %_nulos
CÓDIGO ÓRGÃO SUPERIOR         int64            134593             0     0.00
NOME ÓRGÃO SUPERIOR          object            134593             0     0.00
CÓDIGO ÓRGÃO                  int64            134593             0     0.00
NOME ÓRGÃO                   object            134593             0     0.00
CÓDIGO UNIDADE GESTORA        int64            134593             0     0.00
NOME UNIDADE GESTORA         object            134593             0     0.00
CATEGORIA ECONÔMICA          object            134593             0     0.00
ORIGEM RECEITA               object            134593             0     0.00
ESPÉCIE RECEITA              object            134593             0     0.00
DETALHAMENTO                 object            134593             0     0.00
VALOR PREVISTO ATUALIZADO    object            134593             0     0.00
VALOR LANÇADO                object            134593             0     0.00
VALOR REALIZADO              object            134593             0     0.00
PERCENTUAL REALIZADO         object            134593             0     0.00
DATA LANÇAMENTO              object            134470           123     0.09
ANO EXERCÍCIO                 int64            134593             0     0.00

Hay 123 valores nulos en la columna de `DATA LANÇAMENTO`, la de la fecha en la que se registró el ingreso.

In [85]:
numero_duplicados_df_2021 = datos_2021.duplicated().sum()
numero_duplicados_df_2021

np.int64(0)